!!!
%html
  %head
    %title My Resume

    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %script{:type => "application/x-javascript"}
      :cdata
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    %link{:href => "/assets/bootstrap.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/swipebox.css", :rel => "stylesheet"}/
 
    %script{:src => "/assets/jquery-1.11.1.min.js"}

    %link{:href => "//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    / //web-fonts
    / start-smooth-scrolling
    %script{:src => "/assets/move-top.js", :type => "text/javascript"}
    %script{:src => "/assets/easing.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function($) {
      	$(".scroll").click(function(event){
      		event.preventDefault();
      		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      	});
      });
    / //end-smooth-scrolling
  %body
    / banner
    #home.banner
      .banner-info
        .container
          .col-md-4.header-left
            %img{:alt => "", :src => "/assets/img1.jpg"}
          .col-md-8.header-right
            %h2 Hello
            %h1 I'm Atul M. Nikhade
            %h6 Web Designer and Developer ( Ruby on Rails)
            %ul.address
              %li
                %ul.address-text
                  %li
                    %b QUALIFICATION
                  %li BE in Computer Engineering ( MESCOE, Pune )
              %li
                %ul.address-text
                  %li
                    %b PHONE
                  %li +91 960 430 9618
              %li
                %ul.address-text
                  %li
                    %b ADDRESS
                  %li Bhamboli, Chakan, Pune-410501, Maharashtra, India.
              %li
                %ul.address-text
                  %li
                    %b E-MAIL
                  %li
                    %a{:href => "mailto:atsnikhade@gmail.com"} atsnikhade@gmail.com
              %li
                %ul.address-text
                  %li
                    %b BLOG
                  %li
                    %a{:href => "http://atulnikhade.blogspot.in",:target => "_blank"} atulnikhade.blogspot.in
              %li
                %ul.address-text
                  %li
                    %b SOCIAL MEDIA
                  %li
                    %a{:href => "https://www.linkedin.com/in/atul-nikhade-04183962?trk=nav_responsive_tab_profile",:target => "_blank"} LINKEDIN &nbsp;
                    %a{:href => "https://www.facebook.com/atul.nikhade",:target => "_blank"} FACEBOOK &nbsp;
                    %a{:href => "https://twitter.com/AtulNikhade",:target => "_blank"} TWITTER &nbsp;
                    %a{:href => "https://plus.google.com/111860394395971369493",:target => "_blank"} GOOGLE+ &nbsp;
          .clearfix
    / //banner
    / top-nav
    .top-nav.wow
      .container
        .navbar-header.logo
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            Menu
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .menu
            %ul.nav.navbar
              %li
                %a.scroll{:href => "#about"} About
              %li
                %a.scroll{:href => "#work"} Experience
              %li
                %a.scroll{:href => "#education"} Education
              %li
                %a.scroll{:href => "#skills"} Skills
              %li
                %a.scroll{:href => "#projects"} My Projects
              %li
                %a.scroll{:href => "#contact"} Contact
            .clearfix
    #about.about
      .container
        %h3.title About Me
        .col-md-8.about-left
          %p
            Hello, everyone. I am Atul Nikhade and professionally i am web developer specialised in " RUBY ON RAILS" located in Pune, india's one of most IT growing city.
          %p I'm passionate about creation of traditional and new creative graphics solutions and products for any communicational issue. I love to design clean, smart and effective as well as productive work. Most of my work focus on identity as well as consumer engagement products.  
          %p I have done my engineering from Modern Education Society's College of Engineering,Pune. Also i have done my diploma in computer engineering from MSBTE.
          %p I'm working in IT industry from March, 15. I have worked on most of consumer engagement and loyalty program. Also worked on some critical task like payment module i.e Paymemt gateway integration, handle transaction failureness etc.
          %p I would like to work on payment solutions products which is so interesting as well as critical.
          %p On this website, you are able to check out my work, skills, my education etc.
        .col-md-4.about-right
          %ul
            %h5 Achievements
            %li
              %span.glyphicon.glyphicon-menu-right
              First prize in National Level Paper Presentation at VIIT, Pune & published paper in Journal
              for Harmonized Research.&nbsp;&nbsp;
              %a{:href => "http://www.johronline.com/issue/20140220-121637.886.pdf",:target => "_blank"} http://www.johronline.com/issue/20140220-121637.886.pdf
            %li
              %span.glyphicon.glyphicon-menu-right
              First prize in C MAESTRO during National Level code event TESLA 2012 at MITCOE, Pune.
            %li
              %span.glyphicon.glyphicon-menu-right
              Participated in DIGITAL RENAISSANCE at MESCOE, Pune.
            %li
              %span.glyphicon.glyphicon-menu-right
              Participated workshop on Ethical Hacking.
            %li
              %span.glyphicon.glyphicon-menu-right
              NIIT Certified Java Student.
          .clearfix
        .clearfix
    #work.work
      .container
        %h3.title Work Experience
        .work-info
          .col-md-6.work-left
            %h4 March,2015 - Till date
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-briefcase
              Birdvision Technology ( http://www.birdvisiontech.com )
            %p I am working in Birdvision as a " RoR Developer ".  Birdvision is a team of enthusiastic and enquisitive who plan to do just that by using technology as a platform to improve efficiencies and productivity of enterprise & business processes. Birdvision mainly works on customer engagement and loyalty programme.
          .clearfix
    #education.education
      .container
        %h3.title Education
        .work-info
          .col-md-6.work-left
            %h4 BE in Computer Engineering - 2014
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-education
              MESCOE, Pune ( Pune University)
            %p I have completed BE in Computer Engineering from MESCOE, Pune in 2014 with distinction from Pune University.
          .clearfix
        .work-info
          .col-md-6.work-right.work-right2
            %h4 Diploma in Computer Engineering - 2011
          .col-md-6.work-left.work-left2
            %h5
              Jaihind Polytechnic, Pune 
              %span.glyphicon.glyphicon-education
            %p I have completed Diploma in Computer Engineering from Jaihind Polytechnic, Pune in 2011 with 86.38%
          .clearfix
    / //education
    / skills
    #skills.skills
      .container
        %h3.title Skills
        .skills-info
          .col-md-6.bar-grids
            %h6
              RUBY ON RAILS
              %span 70%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 70%"}
            %h6
              PAYMENT GATEWAY INTEGRATION
              %span 95%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 95%"}
            %h6
              HTML/CSS
              %span 70%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 70%"}
            %h6
              REST API
              %span 60%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 60%"}
            %h6
              JAVASCRIPT
              %span 50%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 50%"}
          .col-md-6.bar-grids
            %h6
              MYSQL
              %span 55%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 55%"}
            %h6
              AJAX
              %span 70%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 70%"}
            %h6
              ANALYTICS
              %span 50%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 50%"}
            %h6
              C , C++
              %span 60%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 60%"}
            %h6
              SMS GATEWAY
              %span 60%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 60%"}
          .clearfix
    / //education
    / portfolio
    #projects.portfolio
      .container
        %h3.title.wow.zoomInLeft.animated{"data-wow-delay" => ".5s"} My Projects
        .sap_tabs
          #horizontalTab{:style => "display: block; width: 100%; margin: 0px;"}
            %ul.resp-tabs-list.wow.fadeInUp.animated{"data-wow-delay" => ".7s"}
              %li.resp-tab-item
                %span ADZFONE
              %li.resp-tab-item
                %span REFERRAL MANAGER
              %li.resp-tab-item
                %span TICKETING SYSTEM
              %li.resp-tab-item
                %span CONTEST AND CAMPAIGNS  
            .clearfix
            .resp-tabs-container
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g1.jpg", :title => "Sign up and link Business Phones to Adzfone for advertising"}
                        %img.img-responsive{:alt => "", :src => "/assets/g1.jpg"}
                        .figcaption
                          %h3
                            HOME PAGE
                            %span
                          %p Sign up and link Business Phones to Adzfone
                  .col-md-4.portfolio-grids
                    .grid.effect-sarah
                      %a.swipebox{:href => "/assets/g2.jpg", :title => "Just entering mail id, advertiser get entry into adzfone can publish business contents easily."}
                        %img.img-responsive{:alt => "", :src => "/assets/g2.jpg"}
                        .figcaption
                          %h3
                            ADMIN DASHBOARD
                            %span
                          %p Here, we can see all adzfone details i.e no. of clients, no. of calls etc.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g3.jpg", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/g3.jpg"}
                        .figcaption
                          %h3
                            NEW UPLOAD FORM
                            %span 
                          %p Here, Advertiser can upload all business details with its business number.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g4.jpg", :title => "Adzfone admin can view all types of adzfone clients here only. Clients which are CSV uploaded, Web clients etc."}
                        %img.img-responsive{:alt => "", :src => "/assets/g4.jpg"}
                        .figcaption
                          %h3
                            ALL CLIENTS
                            %span
                          %p Admin can view all types of adzfone clients here only.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g5.jpg", :title => "Admin can view all uploaded advertisements here. Advertiser will view their's advertisement/s only."}
                        %img.img-responsive{:alt => "", :src => "/assets/g5.jpg"}
                        .figcaption
                          %h3
                            ALL ADVERTISEMENTS
                            %span
                          %p Admin can view all uploaded advertisements here. Advertiser will view their's advertisement/s only.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g6.jpg", :title => "Business numbers which are active/ Nonactive will display here."}
                        %img.img-responsive{:alt => "", :src => "/assets/g6.jpg"}
                        .figcaption
                          %h3
                            BUSINESS NUMBERS
                            %span
                          %p All active business numbers will display here.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g7.jpg", :title => "All clients with their business number activation status will display here."}
                        %img.img-responsive{:alt => "", :src => "/assets/g7.jpg"}
                        .figcaption
                          %h3
                            CLIENT STATUS
                            %span
                          %p All client list will their usage statuswill display here.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g8.jpg", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/g8.jpg"}/
                        .figcaption
                          %h3
                            ANALYTICS
                            %span
                          %p Here is all analytics regarding Adzfone.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/g9.jpg", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/g9.jpg"}/
                        .figcaption
                          %h3
                            Pricing
                            %span
                          %p Hard task but did it. PayUMoney integration with adzfone.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/cc.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/cc.png"}/
                        .figcaption
                          %h3
                            CAMPAIGN CREATION
                            %span
                          %p Create campaign for any business referral program and socially share it.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/ac.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/ac.png"}
                        .figcaption
                          %h3
                            ADD CUSTOMER
                            %span
                          %p Add advocate and agent just taking mobile number.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/c.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/c.png"}/
                        .figcaption
                          %h3
                            CUSTOMERS
                            %span
                          %p here is list of all customers.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/c1.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/c1.png"}/
                        .figcaption
                          %h3
                            CONFIGURATION
                            %span
                          %p Configuration of business info  i.e twitter and facebook account etc.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/c2.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/c2.png"}/
                        .figcaption
                          %h3
                            CODE
                            %span
                          %p We will offer you one code to share on social media.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/c3.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/c3.png"}/
                        .figcaption
                          %h3
                            DASHBOARD
                            %span
                          %p Dashboard give information that no. of tickets raised, no. of tickets solved. etc.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/d1.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/d1.png"}/
                        .figcaption
                          %h3
                            CONTEST CREATION
                            %span
                          %p Easy process to create tournaments/contests.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/d2.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/d2.png"}/
                        .figcaption
                          %h3
                            PARTICIPANT SITE
                            %span
                          %p Corporate employee/participant will play easily.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/d3.png", :title => ""}
                        %img.img-responsive{:alt => "", :src => "/assets/d3.png"}/
                        .figcaption
                          %h3
                            DASHBOARD
                            %span
                          %p Dashboard give you all information
                  .clearfix
        / ResponsiveTabs
        %script{:src => "/assets/easyResponsiveTabs.js", :type => "text/javascript"}
        :javascript
          $(document).ready(function () {
          	$('#horizontalTab').easyResponsiveTabs({
          		type: 'default', //Types: default, vertical, accordion           
          		width: 'auto', //auto or any width like 600px
          		fit: true   // 100% fit in a container
          	});
          });
        / //ResponsiveTabs
        / swipe box js
        %script{:src => "/assets/jquery.swipebox.min.js"}
        :javascript
          jQuery(function($) {
          	$(".swipebox").swipebox();
          });
        / //swipe box js
    / //portfolio
    / contact
    #contact.welcome.contact
      .container
        %h3.title Contact Me
        .contact-row
          .col-md-6.contact-left
            %iframe{:src => "https://www.google.com/maps/embed/v1/place?q=Bhamboli,+Chakan,+Pune-410501,+Maharashtra,+India.&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU", :style => "height:100%;width:100%;border:0;"}
          .col-md-6.contact-right
            .address-left
              %p
                Bhamboli, Chakan, Pune-410501,
                %br/
                Maharashtra, India.
            .address-right
              %p Call me :  +91 960 430 9618
              %p
                E-mail :
                %a{:href => "mailto:atsnikhade@gmail.com"} atsnikhade@gmail.com
            .clearfix
            .contact-form
              %form{:action => "/home/send_mail", :method => "post"}
                %input{:name => "Name", :placeholder => "Name", :required => "", :type => "text"}/
                %input.email{:name => "Email", :placeholder => "Email", :required => "", :type => "text"}/
                %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                %textarea{:name => "Message", :placeholder => "Message", :required => ""}
                %input{:type => "submit", :value => "SUBMIT"}/
          .clearfix
    / //contact
    / footer
    .footer
      .container
        %p
          © 2016 | Designed by
          %a{:href => "#"} Atul Nikhade
    / //footer
    / smooth-scrolling-of-move-up
    :javascript
      $(document).ready(function() {
      
      	var defaults = {
      		containerID: 'toTop', // fading element id
      		containerHoverID: 'toTopHover', // fading element hover id
      		scrollSpeed: 1200,
      		easingType: 'linear' 
      	};
      	
      	$().UItoTop({ easingType: 'easeOutQuart' });
      	
      });
    %script{:src => "/assets/bootstrap.js"}
