%html
  %body
    %p
      Hey Atul,
      %p
        #{@name} has visited your portfilio.
        %br
        Mail id is: #{@email}
        %br
        Mobile no. is: #{@phone}
        %br
        Message for you: #{@message}
      %p Have a great day!