%html
  %body
    %p
      Hey Vishal,
      %p
        #{@name} has visited your Website.
        %br
        Mail id is: #{@email}
        %br
        Subject is: #{@subject}
        %br
        Message for you: #{@message}
      %p Have a great day!